body {
  font-family: "Jaro", sans-serif;
  background-color: #fffaa6;
  overflow-y: hidden;
}

.container-title h1 {
  box-shadow: 5px 5px 2px #000;
  background-color: #fbc606;
}

.container-form form input::placeholder {
  color: #000000c4;
}

.container-form form button.regis-user-button {
  background-color: #ff7a01;
}

body p {
  font-family: "Jaldi", sans-serif;
  background-color: #fff;
  z-index: 99;
  padding: 10px;
  width: 24.8%;
}

body form {
  z-index: 99;
}

body p a {
  color: #ff7a01;
  text-decoration: none;
  font-family: "Jaldi", sans-serif;
}

img.logo-img {
  width: 800px;
  height: 800px;
  z-index: 1;
  opacity: 0.1;
  position: absolute;
  transform: translate(-100px, -380px);
}

body p a:hover {
  color: #ff7a01;
}

@media screen and (max-width: 480px) {
  .container-title h1 {
    width: 20% !important;
  }

  .container-form form {
    width: 80% !important;
  }

  body img.logo-img {
    width: 80px;
  }

  body p {
    width: 80%;
  }
}
